body{
    background-color: #eeeeee;
    padding: 40px 40px;
    min-height: 100%;
}

#editor {
    min-height: 200px;
    font-size: 20px;
}

#scrapeEditor {
    min-height: 200px;
    font-size: 20px;
}