@(message: String)(implicit req: RequestHeader)


@main("Scala JS Scraper") {
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-lg btn-danger" id="scrap">Start a scrap</button>
        </div>
    </div>

    <code><h2><small>function</small> getPages <small>( )</small></h2></code>
    <div class="panel panel-default" class="editor-panel">
        <div class="panel-body">
            <pre class="jsEditor" id="editor">function getPages() { return [ 'http://google.com/' ]; }</pre>
        </div>
    </div>

    <code><h2><small>function</small> scrap <small>( )</small></h2></code>
    <div class="panel panel-default" class="editor-panel">
        <div class="panel-body">
            <pre class="jsEditor" id="scrapeEditor">function scrap() { return [ 'p' ]; }</pre>
        </div>
    </div>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Parse result: @message</strong>
    </div>

}

<script src="@routes.Assets.at("lib/ace/src-min-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var scrapeEditor = ace.edit("scrapeEditor");
        scrapeEditor.setTheme("ace/theme/monokai");
        scrapeEditor.getSession().setMode("ace/mode/javascript");
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        $('#scrap').click(function(e) {
            var js = $("#editor").val();
        });
    });
</script>
